*{
    font-family: Georgia;
}

body{
    margin: 0;
}

#lewy{
    background-color: Maroon;
    color: white;
    height: 600px;
    width: 30%;
    float: left;
}

#prawy{
    background-color: Maroon;
    color: white;
    height: 600px;
    width: 70%;
    float: left;
}

footer{
    background-color: dimgray;
    color: white;
    clear: both;
}

#prawy img, #prawy ul{
    float: left;
}

#prawy p{
    clear: both;
}

p{
    padding: 10px;
}

.borderOn{
    border: solid 1px white;
}

img{
    padding: 10px;
}

button.bgColor:nth-of-type(1){
    background-color: indigo;
}

button.bgColor:nth-of-type(2){
    background-color: steelblue;
}

button.bgColor:nth-of-type(3){
    background-color: olive;
}