*{
    font-family: 'Times New Roman';
    text-align: center;
    font-style: italic;
}

body{
    margin:0;
}

header{
    background-color: lightpink;
    height: 80px;
    padding-top: 10px;
    clear: both;
}

#lewy{
    background-color: lightpink;
    height: 500px;
    width: 20%;
    font-size: 20px;
    float: left;
}

#prawy{
    background-color: black;
    height: 500px;
    width: 80%;
    font-size: 30px;
    color: lightpink;
    float: left;
}

footer{
    background-color: lightpink;
    height: 60px;
    clear: both;
}

#lewy img{
    width: 180px;
    height: 180px;
}

p{
    margin-top: 50px;
}