*{
    font-family: Garamond;
}

body{
    margin: 0;
}

header{
    background-color: saddlebrown;
    color: white;
    text-align: center;
    height: 50px;
    clear: both;
}

header h1{
    margin-top: 0;
}

#lewy{
    background-color: tan;
    height: 500px;
    width: 40%;
    float: left;
}

#prawy1, #prawy2{
    background-color: tan;
    height: 250px;
    width: 60%;
    float: left;
}

footer{
    background-color: saddlebrown;
    color: white;
    clear: both;
}

form{
    background-color: saddlebrown;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    width: 300px;
}

form label{
    margin: 5px;
}

#bledy p:before{
    content: 'STATUS: ';
}